//- Theme Color Options
- const Theme = 'red';

//- For SEO Optimization required
- const siteTitle = 'Newsletter';
- const siteDescription = 'Karatekin Newsletter';
- const siteKeywords = 'karatekin,newsletter';
- const siteAuthor = 'Telat Kaya';
- const siteRobots = 'noindex,nofollow';
- const siteUrl = 'https://newsletter.netlify.app/';
- const siteLanguage = 'en'

//- Copyright
- const siteCopyright = '1 January 2021 karatekin.edu.tr';

//- Logo Url
- const siteLogoUrl = 'assets/img/logo.svg';

//- Favicons
- const siteFavicon = 'assets/img/favicon/favicon.svg';

//- Address Bar Color
- const siteThemeColor = '#ffffff';
