extends layouts/default
block pageVars
	- var page = "telatkaya";
	- var menuCrumb = "Pages";
	- var pageTitle = "Karatekin University";
block PageContent
	.page-wrapper
		.logo
			img(src="https://raw.githubusercontent.com/partitect/newsletter/main/dist/assets/img/logo1.svg")
		.title
			h1 ÇANKIRI KARATEKİN UNIVERSITY FOREIGN STUDENTS
		.content
			h1 DEAR John DOE
			p One last step left to complete the application, please enter the code below into the ÇAKÜ foreign students submitted system
			img(src="https://raw.githubusercontent.com/partitect/newsletter/main/dist/assets/img/undraw_Security_on_ff2u.svg")
		.info
			a.submission Click for Submit
		.footer
			h6 Çankırı Karatekin University Foreign Students Submitted System
			a(href="mailto:yos@karatekin.edu.tr") yos@karatekin.edu.tr
